---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="assets/footnotes-es6.js"></script>
<script type="text/javascript">
        var bigfoot = $.bigfoot(
                       {
                       actionOriginalFN: "ignore",
                       positionContent: "true"
                       }
        );
</script>
	</head>

	<body>
			

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/com.alybadawy.external_links.js"></script>

		</main>

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>

</html>
